/* 
    Document   : aroundyou_home
    Created on : Feb 26, 2017, 6:08:39 PM
    Author     : MingYeang
    Description:
        Purpose of the stylesheet follows.
*/

/*****************************************************
   Google map related
*******************************************************/
#map_canvas {
    height: 200px;
    width: 200px;
}

.angular-google-map-container {
    height: 100%;
    width: 100%;
}