/* 
    Document   : aroundyou_base
    Created on : Feb 26, 2017, 1:40:21 AM
    Author     : MingYeang
    Description:
        Aroundyou base css, which include 
         - header
         - footer
         - generic css
         - Standard css
*/

/*****************************************************
    Aroundyou generic css
*******************************************************/

/*****************************************************
    Aroundyou common standard
*******************************************************/
/* standard all disabled input to grey put -- Start --*/
input:disabled {
    background: #dddddd;
}

select:disabled {
    background: #dddddd;
}
/* standard all disabled input to grey put -- End --*/

/* Overwrite existing format -- Start --*/
.bootstrap-datetimepicker-widget .glyphicon {
    font-family: 'Glyphicons Halflings';
    -moz-osx-font-smoothing: grayscale;
}

.jumbotron {
    background-color: transparent;
}

/* Overwrite existing format -- End --*/


/*****************************************************
    Header related css
*******************************************************/

.navbar {
    margin-bottom: 0px;
    background-color: #f2f3f7;
}

#system_logout {
    cursor: pointer;
}

/*************************************************************
    Footer related style
**************************************************************/
/* Basic settings that make footer stick to bottom -- Start --*/
.aroundyou_wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px;
}
html, body {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
/* Basic settings that make footer stick to bottom -- End --*/

.aroundyou_footer div {
    color: white;
}

.aroundyou_footer {
    background-image: url("../images/aroundyou_footer_background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
    position: relative;
    /*height: 50px;*/
    clear:both;
    padding-top:10px;
    padding-bottom:10px;
}

.aroundyou_footer_link .divider
{
    font-weight: bolder;
}

.aroundyou_footer_link ul
{
    list-style-type:none;
    padding:0;
    margin: 0;
   /*float: right;*/
}
.aroundyou_footer_link li
{
    display: inline;
    color: white;
}

.aroundyou_footer_link li a:link
{
    color: white;
}
.aroundyou_footer_link li a:visited
{
    color: white;
}
.aroundyou_footer_link li a:active
{
    color: white;
}
.aroundyou_footer_link li a:hover
{
    color: white;
}