/* 
    Document   : aroundyou_home
    Created on : Feb 26, 2017, 6:08:39 PM
    Author     : MingYeang
    Description:
        Purpose of the stylesheet follows.
*/

/*****************************************************
   Google map related
*******************************************************/
.angular-google-map-container { height: 400px; }

#a {
    font-size:100px;
}