/* 
    Document   : property_edit
    Created on : Jan 7, 2016, 12:42:06 AM
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/

.measurement_type_group {
    visibility: collapse;
}

#cancel {
    border-radius: 20px;
    border-color: #c0c1c5;
    border-width: 2px;
    margin-right: 15px;
}

