/* 
    Document   : property_edit
    Created on : Jan 7, 2016, 12:42:06 AM
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/

.measurement_type_group {
    visibility: collapse;
}

