/* 
    Document   : properties_base
    Created on : Jun 8, 2014, 10:17:21 AM
    Author     : MingYeang
    Description:
        Porperties base css, which include header and footer.
*/


/*****************************************************
    Header related css
*******************************************************/
.properties-header {
    background-color: #eee;
    height: 97.439px;
}

.properties-logo {
    width: 215.364px;
    height: 57.439px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    
}

.properties-header-right {
    /*float: right;*/
    /*margin-top: 34.6195px;*/
    /*height: 97.439px;
    margin-right: 20px;*/
}

.properties-help-icon {
    width: 28.2px;
    height: 28.2px;
    
}

/*************************************************************
    Basic settings that make footer stick to bottom
**************************************************************/
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px;
}
html, body {
    height: 100%
}

/*************************************************************
    Footer related style
**************************************************************/
.properties_footer div {
    color: white;
}

.properties_footer {
    background-image: url("../images/properties_footer_background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
    position: relative;
    /*height: 50px;*/
    clear:both;
    padding-top:10px;
    padding-bottom:10px;
}

.properties_footer_link .divider
{
    font-weight: bolder;
}

.properties_footer_link ul
{
    list-style-type:none;
    padding:0;
    margin: 0;
   /*float: right;*/
}
.properties_footer_link li
{
    display: inline;
    color: white;
}

.properties_footer_link li a:link
{
    color: white
}
.properties_footer_link li a:visited
{
    color: white
}
.properties_footer_link li a:active
{
    color: white
}
.properties_footer_link li a:hover
{
    color: white
}



@media (min-width: 767px) {
     .wrapper{
        /*background-image: url("../images/content-768.png");*/
        background-repeat: no-repeat;
        background-size: auto 100%;
	-moz-background-size: auto 100%;
	-webkit-background-size: auto 100%;
        background-position: center;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

}

@media (min-width: 1200px) {
     .wrapper{
        /*background-image: url("../images/content-1200.png");*/
        background-repeat: no-repeat;
        background-size: auto 100%;
	-moz-background-size: auto 100%;
	-webkit-background-size: auto 100%;
        background-position: center;
    }
   .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

}

@media (min-width: 992px) {
     .wrapper{
        /*background-image: url("../images/content-992.png");*/
        background-repeat: no-repeat;
        background-size: auto 100%;
	-moz-background-size: auto 100%;
	-webkit-background-size: auto 100%;
        background-position: center;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

}
 .wrapper{
        /*background-image: url("../images/content-1200.png");*/
        background-repeat: no-repeat;
        background-size: auto 100%;
	-moz-background-size: auto 100%;
	-webkit-background-size: auto 100%;
        background-position: center;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}

/*    .navbar-default {
    background-color: #f2f3f7;
    border-color: transparent
}*/
    .navbar {
        margin-bottom: 0px;
    }

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
/*Migrate from home.css*/
.container-main {
    margin-top: 75px;
}

.container-canvas {
    margin: 0 auto;
    width: 800px;
}


.jumbotron {
    background-color: transparent;
}

#property_title {
    cursor:pointer;
}

.upload_properties input, .form-control, textarea, select {
    color: #666;
    font-family: 'Century Gothic';
    font-size: 10pt;
    
}

.upload_properties span {
    color: #666;
    /*font-family: 'Century Gothic';*/
    font-size: 10pt;
}
.bootstrap-datetimepicker-widget .glyphicon {
    font-family: 'Glyphicons Halflings';
    -moz-osx-font-smoothing: grayscale;
}

/*standard all disabled input to grey put */
input:disabled {
    background: #dddddd;
}

.state {
    cursor: pointer;
}

.state_disable {
   pointer-events: none;
}

#btn_currency
{
    background-color: #463cad;
    border-radius: 20px;
    font-size: 10.77px
}

#main_content > div
{
    padding-left: 0px;
}


.measurement_type_group
{
   display: none;
}

#btn_measurement_type
{
    background-color: #fed136;
    border-color: transparent;
    border-radius: 20px;
    font-size: 10.77px;

}

#system_logout {
    cursor: pointer;
}

#popup_property_preview {
    overflow: hidden;
}

/****End migrate from home css**/