.navbar-default {
    background-color: white;
    border-color: transparent;
    
}
/* title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}

#ads .bx-wrapper {
    box-shadow: 0px 10px 20px #888888;
}
.header_menu li a:hover {
    /*background-image: url("../images/header-menu-bg.png");*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	
}
#features .bx-wrapper .bx-viewport {
    -moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border:  none;
	left: -5px;
	background-color: transparent;
}
#features {
    background-image: url("../images/bottom_wave.jpg");
    background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
    background-repeat: no-repeat;
}
#features img {
    cursor: pointer
}

#footer_link ul
{
    list-style-type:none;
    padding:0;
    margin: 0
}
#footer_link li
{
    display:inline;
    color: white
}
#footer_link li a:link
{
    color: white
}
#footer_link li a:visited
{
    color: white
}
#footer_link li a:active
{
    color: white
}
#footer_link li a:hover
{
    color: white
}
#footer_link .divider
{
    font-weight: bolder;
}
@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 15px -15px
  }
}
.navbar-nav {
  margin: 15px 25px;
}

.navbar-form {
  margin-top: 25px;
}
label {
    color: #666;
    font-weight: 100;
    font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 18px
}

.jumbotron {
    background-color: #FFFFFF;
}

body
{
    background-color: white
}
#after_login_menu, #system_login_parent {
    display: none
}



input, .form-control, textarea, select
{
   background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    box-shadow: 0 0 5px #EDEDED inset;
    color: #666;
    padding: 5px 10px;
    outline: none;
    line-height: normal;
     font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 18px
}
.form-control {
    width: 250px
}
.error {
    color: red;
}
.popup {
    background-color: #FFFFFF;
    outline: none;
   border: 1px solid #EEEEEE;
    border-radius: 5px;
    
    -moz-box-shadow:0px 0px 10px 7px #C2C2C2;
-webkit-box-shadow:0px 0px 10px 7px #C2C2C2;
box-shadow:0px 0px 10px 7px #C2C2C2;

background-color: #E9E9E9;
}

.popup .modal-footer {
    border-top: 0 solid #FFFFFF
}

.popup .modal-header {
    border-bottom: 0 solid #FFFFFF
}
#login_forgotten_pwd {
    font-size: 11px;
}

#area_code {
    width: 100px;
   
}
#phone {
    width:250px

}
#phonegroup .input-group-addon, #captchagroup .input-group-addon{
    padding: 0px 0px;
    width: auto;
    background:none;
    border-width: 0px
}

.logo {
    max-width: 100%;
    width:auto;
    max-height:100px
}

.header_logo {
    max-width: 100%;
    width:auto;
    max-height:50px
}
.push {
    height: 100px;
}
#bottom_footer {
    background-image: url("../images/footer-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    position: relative;
    clear:both;
    padding-top:20px;
}

#bottom_footer div {
    font-family: century gothic regular;
    font-size: 9pt;
    color: white
    
}

/*************** supported media size *****************/
#wrapper {
           background-repeat: no-repeat;
             background-size: auto 100%;
	-moz-background-size: auto 100%;
	-webkit-background-size: auto 100%;
        background-position: center;
}

#ads{
    background-color: transparent;/*#f6eab2;*/
    background-repeat: no-repeat;
        background-size: auto 100%;
	-moz-background-size: auto 100%;
	-webkit-background-size: auto 100%;
        background-position: center;
    padding-top: 120px;
    padding-left: 15px;
    margin-bottom: 0px
}

@media (max-width: 768px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}
@media (max-width: 767px) {
 .header_menu li a:hover {
        background-image: none;
        background-color: white;
        
    }
}

@media (min-width: 767px) {
}
@media (min-width: 768px) {
    #ads {
       padding-top: 120px;
       padding-left: 15px
    }
}

@media (min-width: 280px) {
    #ads {
       padding-top: 0px;
       padding-left: 15px
    }
}
@media (min-width: 992px) {
}


@media (min-width: 1200px) {
}

