
/*.contact_us_label {
    text-align: right;
    width: 100px;
    display: block;
    float: left;
    margin-left: 10%
}
.contact_us_input {
    margin-left: 10px;
    width: 400px;
    border-radius: 20px
}
.contact_us_textarea {
    margin-left: 10px;
    
    
    border-radius: 20px
}*/

textarea {
    resize: none;
    min-width: 50%;
    max-width: 100%
}
.form-control {
    min-width: 50%;
    height: auto;
}
#bottom_footer {
    background-image: url("../images/footer-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
    position: relative;
    min-height: 50px;
    clear:both;
    padding-top:20px;
}

#bottom_footer div {
    font-family: century gothic regular;
    font-size: 9pt;
    color: white
    
}

#footer_link ul
{
    list-style-type:none;
    padding:0;
    margin: 0
}
#footer_link li
{
    display:inline;
    color: white
}
#footer_link li a:link
{
    color: white
}
#footer_link li a:visited
{
    color: white
}
#footer_link li a:active
{
    color: white
}
#footer_link li a:hover
{
    color: white
}
#footer_link .divider
{
    font-weight: bolder;
}
.navbar-default {
    background-color: white;
    border-color: transparent;
}
/* title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 15px -15px
  }
}
.navbar-nav {
  margin: 15px 25px;
}

.navbar-form {
  margin-top: 25px;
}

@media (max-width: 768px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
    /*#ads {
        background-image: url("../images/content-768.png");   
    }*/
    
 
}
@media (max-width: 767px) {
 .header_menu li a:hover {
        background-image: none;
        background-color: white;
        
    }
}

.row{
    margin-left: auto;
    margin-right: auto
        
}

.container {
    margin-left: 0px;
    margin-right: 0px
}
.title_background {
    min-height: 60px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}
#title_bar {
    height: 25px;
    margin-left: 10%;
}

.form-control {
    border-radius: 5px
}

textarea {
    border-radius: 5px
}


#contact_us_send {
    background-color: #fed136;
    border-color: #fed136;
    border-radius: 20px;
    color: #fff;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding: 5px 20px;
    text-transform: uppercase;
    width: 170px;
    cursor: pointer
    /*margin-left: 45%*/
}

#contact {
    background-color: #404041;
    background-image: url("images/map-image.png");
    background-position: center center;
    background-repeat: no-repeat;
    width:100%
}



div#contact .section-heading {
    color: #fff;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
div h2.section-heading {
    font-size: 40px;
    margin-bottom: 0;
    margin-top: -10px;
}

@media (max-width: 600px) {
  #contact_us_send {
    border-radius: 25px;
    float: none;
    margin-left: auto;
    margin-right: auto
  }
}

@media (max-width: 350px) {
  #contact_us_send {
    border-radius: 25px;
    float: none;
    margin-left: auto;
  }
}

.wrapper{
        background-repeat: no-repeat;
        background-size: auto 100%;
	-moz-background-size: auto 100%;
	-webkit-background-size: auto 100%;
        background-position:center; 
}

.error {
    color: red;
    font-weight: bold
}
#contact_us_send:focus {
    outline: none;
    
}

.blink {
    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-timing-function: steps(2, start);
}
@keyframes blink {
    80% {
        visibility: hidden;
    }
}

#contact input, textarea
{
    padding: 20px;
    width: 100%;
    max-width: 100%
}

.navbar-default .navbar-nav > .active > a {
    border-radius: 12px;
}
.navbar-default .navbar-nav > .active > a {
    background-color: #fed136;
    border-radius: 3;
    color: #fff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #fed136;
    border-radius: 3;
    color: #fff;
}

